apt-clone==0.2.1
apt-xapian-index==0.47
apturl==0.5.2
blinker==1.3
Brlapi==0.6.4
certifi==2018.11.29
Chameleon==3.6.2
chardet==2.3.0
command-not-found==0.3
cryptography==1.2.3
decorator==4.0.6
defer==1.0.6
dirspec==13.10
dnspython==1.16.0
httplib2==0.9.1
hupper==1.9
idna==2.0
Jinja2==2.10.3
louis==2.6.4
lxml==3.5.0
Mako==1.1.0
MarkupSafe==0.23
oauthlib==1.0.3
onboard==1.2.0
oneconf==0.3.9
PasteDeploy==2.0.1
pexpect==4.0.1
Pillow==6.2.0
pipenv==2018.11.26
piston-mini-client==0.7.5
plaster==1.0
plaster-pastedeploy==0.7
psutil==3.4.2
ptyprocess==0.5
pyasn1==0.1.9
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
Pygments==2.4.2
pygobject==3.20.0
PyICU==1.9.2
PyJWT==1.3.0
pymongo==3.9.0
-e git+https://github.com/caiofall20/Mongo-Pyramid-test.git@d26efcbf94149f9eb79d3e95a71bd0d9d5f66332#egg=PyMovie
pyramid==1.10.4
pyramid-chameleon==0.3
pyramid-debugtoolbar==4.5.1
pyramid-jinja2==2.8
pyramid-mako==1.1.0
pyramid-mongodb==1.3
python-apt==1.1.0b1+ubuntu0.16.4.1
python-debian==0.1.27
python-xapp==1.0.0
pyxdg==0.25
reportlab==3.3.0
repoze.lru==0.7
requests==2.9.1
sessioninstaller==0.0.0
setproctitle==1.1.8
six==1.10.0
slip==0.6.1
slip.dbus==0.6.1
system-service==0.3
thin-client-config-agent==0.8
translationstring==1.3
ubuntu-drivers-common==0.0.0
ufw==0.35
urllib3==1.13.1
vboxapi==1.0
venusian==3.0.0
virtkey==0.63.0
virtualenv==16.1.0
virtualenv-clone==0.4.0
waitress==1.3.1
WebOb==1.8.5
xkit==0.0.0
zope.deprecation==4.4.0
zope.interface==4.6.0
